.App {
  display: flex;
  font-size: 0.75em;
}

.box {
  padding: 10px;
}

table {
  background-color: white;
}

thead {
  background-color: grey;
}

tr:nth-child(even) {
  background-color: lightgrey;
}
